dynamic/Execute_Statement_On_DynamicLinkedServices.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"DataManger_COMPARE":{"type":"string"},"DynamicCustomerLInkedServices":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Ingress_Get_All_Customers_and_Configs')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get_DynamicConnections_FromStaticConnection","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource"},"dataset":{"referenceName":"Get_DynamicConfigsFromStaticConfig","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_DynamicConnection","type":"ForEach","dependsOn":[{"activity":"Get_DynamicConnections_FromStaticConnection","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"Lookup2","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource"},"dataset":{"referenceName":"Execute_StatementOverAllDynamicConnections","type":"DatasetReference","parameters":{"ServerName":{"value":"@{activity('Lookup1').output.value[0].ServerName}","type":"Expression"},"AuthPassword":{"value":"@{activity('Lookup1').output.value[0].AuthPassword}","type":"Expression"},"DatabaseName":{"value":"@{activity('Lookup1').output.value[0].DatabaseName}","type":"Expression"}}},"firstRowOnly":true}}]}}],"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/Get_DynamicConfigsFromStaticConfig')]","[concat(variables('factoryId'), '/datasets/Execute_StatementOverAllDynamicConnections')]"]},{"name":"[concat(parameters('factoryName'), '/Get_DynamicConfigsFromStaticConfig')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DataManger_COMPARE')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"ServerName","type":"varchar"},{"name":"IsDefaultInstance","type":"bit"},{"name":"DatabaseInstanceName","type":"varchar"},{"name":"DBAuthTypeName","type":"varchar"},{"name":"AuthUsername","type":"varchar"},{"name":"AuthPassword","type":"varchar"},{"name":"DatabaseName","type":"varchar"},{"name":"SchemaName","type":"varchar"}],"typeProperties":{"schema":"DC","table":"vw_get_AdfConnectionInfo"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Execute_StatementOverAllDynamicConnections')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DynamicCustomerLInkedServices')]","type":"LinkedServiceReference","parameters":{"ServerName":{"value":"@dataset().ServerName","type":"Expression"},"UserPassword":{"value":"@dataset().AuthPassword","type":"Expression"},"DatabaseName":{"value":"@dataset().DatabaseName","type":"Expression"}}},"parameters":{"ServerName":{"type":"string"},"AuthPassword":{"type":"string"},"DatabaseName":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"ServerName","type":"varchar"},{"name":"IsDefaultInstance","type":"bit"},{"name":"DatabaseInstanceName","type":"varchar"},{"name":"DBAuthTypeName","type":"varchar"},{"name":"AuthUsername","type":"varchar"},{"name":"AuthPassword","type":"varchar"},{"name":"DatabaseName","type":"varchar"},{"name":"SchemaName","type":"varchar"}],"typeProperties":{"schema":"INTEGRATION","table":"ingress_DataCatalog"}},"dependsOn":[]}]}